@import 'tailwindcss';

@layer components {
	.component-transition {
		@apply transition-all ease-in-out duration-500;
	}
	.component-transition-short {
		@apply transition-all ease-in-out duration-200;
	}
}

